main {
    width: 80%;
    margin: auto;
    background-color: rgb(75, 171, 226);
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(247, 255, 104);
}

section {
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid rgb(126, 70, 18);
}